@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --primary-dark: hsl(183, 100%, 15%);
  --primary: hsl(172, 67%, 45%);
  --primary-light: hsl(172, 50%, 70%);

  --neutral-darker: hsl(186, 14%, 43%);
  --neutral-dark: hsl(184, 14%, 56%);
  --neutral: hsl(183, 16%, 74%);
  --neutral-light: hsl(185, 41%, 84%);
  --neutral-lighter: hsl(189, 41%, 97%);

  --warning: hsl(25, 65%, 65%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 3.1rem 0 0 0;
  background-color: var(--neutral-light);
  color: var(--neutral-darker);
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
}

/* REMOVE ARROWS ON INPUTS / KEEP VISUAL STYLING IN SAFARI */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.header {
  padding-bottom: 2.15rem;
  text-align: center;
}

.container {
  padding: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background: #fff;
}

.form__input--container {
  display: flex;
  margin-top: 0.4rem;
  margin-bottom: 1.98rem;
  padding: 0.25rem 1rem;
  border: 2px solid var(--neutral-lighter);
  border-radius: 0.3rem;
  background-color: var(--neutral-lighter);
  align-items: center;
}

.form__input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: var(--primary-dark);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
}

.form__input::placeholder {
  color: var(--neutral);
}

.form__input--container:focus-within,
.form__input--container:hover {
  border-color: var(--primary);
}

.form__input--container.warn {
  border-color: var(--warning);
}

.form__warning {
  float: right;
  transition: all 100ms ease;
  color: var(--warning);
  opacity: 0;
  visibility: hidden;
}

.form__warning.warn {
  opacity: 1;
  visibility: visible;
}

.form__selection--container {
  display: grid;
  margin: 1rem 0 2rem 0;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.tip__btn {
  padding: 0.375rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background: var(--primary-dark);
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.tip__btn:hover,
.tip__btn:focus {
  outline: none;
  background: var(--primary-light);
  color: var(--primary-dark);
}

.tip__custom {
  padding: 0 0.5rem;
  border: 2px solid var(--neutral-lighter);
  border-radius: 0.3rem;
  background: var(--neutral-lighter);
}

.tip__custom::placeholder {
  color: var(--neutral-darker);
}

.tip__custom:hover,
.tip__custom:focus {
  border-color: var(--primary);
}

.tip__btn.selected {
  background: var(--primary);
  color: var(--primary-dark);
  text-align: center;
}

.results {
  margin: 0 -0.5rem;
  padding: 2.38rem 1.5rem;
  border-radius: 0.75rem;
  background: var(--primary-dark);
  color: #fff;
  font-weight: 400;
}

.results__row {
  display: grid;
  margin-bottom: 1.25rem;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.results__type {
  font-size: 0.94rem;
  font-weight: 700;
}

.results__unit {
  color: var(--neutral-dark);
  font-size: 0.8rem;
  font-weight: 700;
}

.results__value {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  grid-column: 2;
}

.results__reset--btn {
  width: 100%;
  padding: 0.375rem 1rem;
  transition: opacity 100ms ease;
  border: none;
  border-radius: 0.3rem;
  background: var(--primary);
  color: var(--primary-dark);
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  opacity: 0.1;
}

.results__reset--btn.active {
  cursor: pointer;
  opacity: 1;
}

.results__reset--btn.active:hover,
.results__reset--btn.active:active {
  background-color: var(--primary-light);
}

.attribution {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 5rem;
  }

  .header {
    padding-bottom: 5.05rem;
  }

  .container {
    display: grid;
    max-width: 57.5rem;
    max-height: 30.0625rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 10px 5px 30px 2px var(--neutral);
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .form {
    padding-left: 1.5rem;
  }

  .form__label {
    display: inline-block;
    padding-top: 0.85rem;
    padding-bottom: 0.4rem;
  }

  .form__warning {
    padding-top: 0.85rem;
  }

  .form__input--container {
    margin-top: 0;
    margin-bottom: 1.6rem;
  }

  .form__selection--container {
    margin: 0.65rem 0 1.58rem 0;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .results {
    max-height: 26.0625rem;
    margin: 0;
    padding: 2.65rem 2.625rem 2.5rem 2.625rem;
    border-radius: 1rem;
  }

  .results__row {
    margin-bottom: 1.45rem;
  }

  .results__value {
    font-size: 3rem;
  }

  .results__reset--btn {
    margin-top: 6.1rem;
    padding: 0.55rem;
  }

  .attribution {
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
    visibility: visible;
    z-index: -1;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

/* MAKE SMALL MOBILE RESPONSIVE */
@media screen and (max-width: 347px) {
  html {
    font-size: 90%;
  }
}
